
body{
    width: 1024px;
    background: #F3F5FC;
    text-align: center;
  }
.logo{
    width: 32px;
    height: 52px;
    position: absolute;
    padding: 50px;

 }
 .contenedor-texto{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    
 }
 .contenedor-texto li{
    display: inline-block;
 }
 .input-text-encriptar{
    color: red;
    width: 314px;
    height: 396px;
    top: 168px;
    left: 240px;

 }
 
 
