
body{
    width: auto;
    height: auto;
    background: #F3F5FC;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
  }
.logo{
   width: 32px;
    height: 52px;
    position: absolute;
    padding: 50px;

 }
 
 .titulo-pagina{
   height: 34px;
   padding: 60px 60px 20px 79px;
 }
 .contenedor-texto{
   padding: 25px 50px 20px 80px
    
 }
 .contenedor-texto li{
    display: inline-block;
 }
 #TextoEncriptar{
    color: red;
    width: 314px;
    height: 396px;
    border-radius: 15px;

 }
 #TextFinal{
   width: 314px;
   height: 396px;
   border-radius: 15px;
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y:bottom ;
   background-color: transparent;
 }
 .botones{
  padding: 0px 0px 15px 0px;
  

 }
 .botones li{
    display: inline-block;
    padding: 0px 4px;
 }
 button{
  padding: 10px 20px;
  border: none;
  color: #ffffff;
   border-radius: 8px;
   cursor: pointer;
   background-color: rgba(238, 154, 59, 0.973);
 }
 
 button:hover{
  background: darkorange;
  transform: scale(1.1);
 }
 #BtCopiar{
  display: none;
 }
 .ColorIco{
   filter: invert(99%) sepia(1%) saturate(1811%) hue-rotate(135deg) brightness(99%) contrast(89%);
 }
 .copyright{
  color:#4b474736;
  font-size: 13px;
  margin:20px;
}
/* diseño responsivo*/

@media screen and(max-width:768px){
  body{
    width: 768px;
    height: 1174px;
     
  }
  h1{
    text-align: center;
}


}
 
 