
body{
    width: 1240px;
    height: auto;
    background: #F3F5FC;
    
  }
.logo{
    width: 32px;
    height: 52px;
    position: absolute;
    padding: 50px;

 }
 .contenedor-texto{
    width: 1000px;
    margin: 0 auto;
    padding: 150px 50px 20px 100px;
    
 }
 .contenedor-texto li{
    display: inline-block;
 }
 .input-text-encriptar{
    color: red;
    width: 314px;
    height: 396px;
    top: 168px;
    left: 240px;

 }
 .botones{
   width: 970px;
    text-align: center;

 }
 .botones li{
    display: inline-block;
 }

 
 